[Unit]
Description=Homelabmanagerslave
After=network.target
StartLimitIntervalSec=0

[Service]
User=root
Type=simple
Restart=always
RestartSec=1
ExecStartPre=/root/ramdisk.sh
ExecStart=/bin/bash -c "while true; do /root/homelabmanager.sh; sleep 1; done"
Environment="HOMELABMANAGERHOST=<some_host>"

[Install]
WantedBy=multi-user.target
